/*Base*/
html {
    background-color: #1F1F26;
}
body {
    background-color: #1F1F26;
}
h1{
    font-family: Proxima Nova;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 36px;
    color: white;
}

/*Navbar*/
.navbar-brand{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 58px;
    letter-spacing: -0.045em;
}

.searchBar {
    width: 500px;
    background: #1F1F26;
    box-shadow: inset 0px -4px 4px #3C3C48, inset 0px 4px 4px rgba(0, 0, 0, 0.6);
    border-radius: 56px;
    font-family: Proxima Nova;
    border-style: none;
}

.navbar {
    background: #1F1F26;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.5);
}


white {
    color: white;
}

red {
    color: #DA263C;
}

/*Sidebar*/
.sidebar{
    background-color: #1A1A21;
    color: white;
    font-family: Proxima Nova;
    padding: 30px;
    height: 100%;
    margin: -12px;
}

.sidebar h1 {
    font-size: 25px;
}
.sidebar ul {
    list-style: none;
}

/*Header*/
.header-image{
    height: 280px;
    width: 100%;
    object-fit: none;
    margin-bottom: 20px;
}

.carousel-text {
    font-family: Proxima Nova;
    color: white;
    text-shadow: 0px 4px 5px #000000;
    width: 60%;
    padding: 20px 0 0 12% ; 
}
.carousel-text p {
    font-size: 14px;
}

/*Button Dropdown*/
.btn-drop {
    width: 150px;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* text */

    background: #1F1F26;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px -2px 2px #3A3A46, inset 0px -2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    border-style: none;
    /* Style */
}

/*Card*/
.card {
    width: 240px;
    height: 360px;
    background-color: #1F1F26;
    border-radius: 20px;
}

.infos{
    position: absolute;
}

.top-icons{
    padding: 10px 20px 0 20px;
}


.text-card {
    font-family: Proxima Nova;
    color: white;
    margin-top: 100px;
    padding: 20px;
    font-size: 20px;
}

.title {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: -0.045em;
}

.desc {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
}

.card img {
    height: 360px;
    object-fit: contain;
    border-radius: 20px;
}
